@charset "UTF-8";

        body {
            background-color: rgb(36, 36, 36);
            color: white;
            
        }
        h1 {
            background-color: rgb(50, 50, 50);
            color: white;
               
        }
        p {
            color: rgb(255, 255, 255);
            background-color: rgb(48, 46, 46);
        }
        a {
            color: darkkhaki
            
        }
        .fonte-clique {
            font-family: fantasy;
        }